# Comentário.
.idea/
.vscode/

# Comentário.
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Comentário.
bin/
gen/
target/
out/

# Comentário.
.mvn/
mvnw.cmd
mvnw

# Comentário.
src/main/resources/application.properties

# Comentário.
*.iml
*.iws
*.ipr